<html>

<head>
  <title>Hola Mundo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <style>
    [v-cloak]>* {
      display: none
    }

    [v-cloak]::before {
      content: "cargando…"
    }
  </style>
</head>

<body>
  <div id="app" class="container" v-cloak>
    <h1>Hola Mundo</h1>

    <button class="btn btn-primary mt-2" @click="holamundo">Hola</button>

    <h2 class="text-bg-success p-3 my-2" v-if="saludo">{{ saludo }}</h2>
    <p class="text-bg-danger p-3 my-2" v-if="error">{{ error }}</p>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script src="js/config.js"></script>

  <script>
    const BACKEND_BASE_URL = config.BACKEND_BASE_URL;

    const { createApp } = Vue;

    createApp({
      data() {
        return {
          nombre: '',
          saludo: '',
          error: '',
        };
      },

      methods: {
        holamundo() {
          const url = BACKEND_BASE_URL + `/holamundo`;
          axios.get(url)
            .then(response => {
              this.saludo = response.data.saludo;
              this.error = '';
            })
            .catch(error => {
              this.saludo = '';
              this.error = 'Error: ' + error;
            });
        }
      }
    }).mount('#app');  
  </script>

</body>

</html>